.folder-card { border: 1px solid #ddd; padding: 10px; margin-bottom: 10px; }
    .folder-details { margin-bottom: 10px; }
    .folder-meta { font-size: 0.85em; color: #666; }
    .folder-actions { font-size: 0.85em; }
