

 <div class="folder-card">
     <div class="folder-details">
         <h3>{{ folder.title }}</h3>
         <p>{{ folder.description }}</p>
     </div>
     <div class="folder-meta">
         <span *ngIf="folder.user">User: {{ folder.user }}</span>
         <span *ngIf="folder.date">Date: {{ folder.date }}</span>
     </div>
     <div class="folder-actions">
         <button type="button" class="hover:text-primary" (click)="setFav(folder)">
             <icon-eye />
         </button>
         <button type="button" class="hover:text-primary" >
             <icon-pencil />
         </button>
         <button type="button" class="hover:text-danger">
             <icon-trash />
         </button>
     </div>
 </div>

