<!-- file-folder-view.component.html -->
<P>FILE</P>
<ul>

    <ng-container>
        <div *ngFor="let item of fileFolders">
        <li *ngIf="item.type === 'folder'">
            <strong>{{ item.name }}</strong>
            <ul>
                <li *ngFor="let child of item.children">{{ child.name }}</li>
            </ul>
        </li>
        <li *ngIf="item.type === 'file'">{{ item.name }}</li>
         </div>
    </ng-container>

</ul>

