/* src/app/file-explorer/file-explorer.component.css */
.file-item {
  list-style-type: none; /* Removes bullet points from list items */
}

.row {
  display: flex;
  align-items: center; /* Centers items vertically */
  padding: 5px 0; /* Adds some padding above and below each item */
}

.col-icon {
  margin-right: 10px; /* Adds some space between the icon and the name */
}

.col-name {
  flex-grow: 1; /* Allows the name column to take up remaining space */
}
