<!-- src/app/file-explorer/file-explorer.component.html -->
<!-- src/app/file-explorer/file-explorer.component.html -->
<ul>
    <ng-container *ngTemplateOutlet="fileTemplate; context:{ $implicit: fileElements }"></ng-container>
</ul>

<ng-template #fileTemplate let-elements>
    <li *ngFor="let fileElement of elements" class="file-item">
        <div class="row">
            <div class="col-icon">
               <ng-container *ngIf="fileElement.type === 'folder'; else fileTypeIcon">
                   <icon-folder></icon-folder>
               </ng-container>
                <ng-template #fileTypeIcon>
                    <app-filetype [filename]="fileElement.name"></app-filetype>
                </ng-template>
            </div>
            <div class="col-name" (click)="toggleFolder(fileElement)">
                {{ fileElement.name }}
            </div>
        </div>
        <ul *ngIf="fileElement.children && fileElement.expanded">
            <ng-container *ngTemplateOutlet="fileTemplate; context:{ $implicit: fileElement.children }"></ng-container>
        </ul>
    </li>
</ng-template>




