
<div class="log-container" #logContainer>
    <div *ngFor="let message of logMessages" [innerHTML]="message | safeHtml"></div>
</div>
<button (click)="startScrape()" [disabled]="!websocketService.isConnected()">Start Scrape</button>

