.log-container {
  height: 400px;
  overflow-y: auto;
  background-color: #f5f5f5; /* Light grey background */
  border: 1px solid #ddd; /* Light grey border */
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
}
.example-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;

}
cdk-virtual-scroll-viewport {
  height: 400px;
}
.example-viewport {
  height:400px;
  width: 80%;
  border: 1px solid black;
    margin: 0 auto;
}
