<!-- src/app/icon-filetype/icon-filetype.component.html -->
<span [ngSwitch]="fileType">
  <i *ngSwitchCase="'pdf'" class="fas fa-file-pdf"></i>
  <i *ngSwitchCase="'word'" class="fas fa-file-word"></i>
  <i *ngSwitchCase="'excel'" class="fas fa-file-excel"></i>
  <i *ngSwitchCase="'image'" class="fas fa-file-image"></i>
  <!-- Add more icons as needed -->
  <i *ngSwitchDefault class="fas fa-file"></i>
</span>

