<div>
    <div class="relative flex h-full gap-5 sm:h-[calc(100vh_-_150px)]">
        <div
            class="panel absolute z-10 hidden h-full w-[240px] max-w-full flex-none space-y-4 p-4 ltr:rounded-r-none rtl:rounded-l-none xl:relative xl:block xl:h-auto ltr:xl:rounded-r-md rtl:xl:rounded-l-md"
            [ngClass]="{ '!block': isShowTaskMenu }"
        >
            <div class="flex h-full flex-col pb-16">
                <div class="pb-5">
                    <div class="flex items-center text-center">
                        <div class="shrink-0">
                            <icon-clipboard-text />
                        </div>
                        <h3 class="text-lg font-semibold ltr:ml-3 rtl:mr-3">Sessions list</h3>
                    </div>
                </div>
                <div class="mb-5 h-px w-full border-b border-[#e0e6ed] dark:border-[#1b2e4b]"></div>
                <ng-scrollbar class="relative h-full grow ltr:pr-3.5 rtl:pl-3.5" appearance="compact">
                    <div class="space-y-1">
                        <button
                            type="button"
                            class="flex h-10 w-full items-center justify-between rounded-md p-2 font-medium hover:bg-white-dark/10 hover:text-primary dark:hover:bg-[#181F32] dark:hover:text-primary"
                            [ngClass]="{ 'bg-gray-100 dark:text-primary text-primary dark:bg-[#181F32]': selectedTab === '' }"
                            (click)="tabChanged('')"
                        >
                            <div class="flex items-center">
                                <icon-list-check class="h-4.5 w-4.5 shrink-0" />
                                <div class="ltr:ml-3 rtl:mr-3">Inbox</div>
                            </div>
                            <div class="whitespace-nowrap rounded-md bg-primary-light px-2 py-0.5 font-semibold dark:bg-[#060818]">
                                {{ this.allTasks.length - getTasksLength('trash') }}
                            </div>
                        </button>
                        <button
                            type="button"
                            class="flex h-10 w-full items-center justify-between rounded-md p-2 font-medium hover:bg-white-dark/10 hover:text-primary dark:hover:bg-[#181F32] dark:hover:text-primary"
                            [ngClass]="{ 'bg-gray-100 dark:text-primary text-primary dark:bg-[#181F32]': selectedTab === 'complete' }"
                            (click)="tabChanged('complete')"
                        >
                            <div class="flex items-center">
                                <icon-thumb-up class="h-5 w-5 shrink-0" />
                                <div class="ltr:ml-3 rtl:mr-3">Done</div>
                            </div>
                            <div class="whitespace-nowrap rounded-md bg-primary-light px-2 py-0.5 font-semibold dark:bg-[#060818]">
                                {{ getTasksLength('complete') }}
                            </div>
                        </button>
                        <button
                            type="button"
                            class="flex h-10 w-full items-center justify-between rounded-md p-2 font-medium hover:bg-white-dark/10 hover:text-primary dark:hover:bg-[#181F32] dark:hover:text-primary"
                            [ngClass]="{ 'bg-gray-100 dark:text-primary text-primary dark:bg-[#181F32]': selectedTab === 'important' }"
                            (click)="tabChanged('important')"
                        >
                            <div class="flex items-center">
                                <icon-star class="shrink-0" />

                                <div class="ltr:ml-3 rtl:mr-3">Important</div>
                            </div>
                            <div class="whitespace-nowrap rounded-md bg-primary-light px-2 py-0.5 font-semibold dark:bg-[#060818]">
                                {{ getTasksLength('important') }}
                            </div>
                        </button>
                        <button
                            type="button"
                            class="flex h-10 w-full items-center justify-between rounded-md p-2 font-medium hover:bg-white-dark/10 hover:text-primary dark:hover:bg-[#181F32] dark:hover:text-primary"
                            [ngClass]="{ 'bg-gray-100 dark:text-primary text-primary dark:bg-[#181F32]': selectedTab === 'trash' }"
                            (click)="tabChanged('trash')"
                        >
                            <div class="flex items-center">
                                <icon-trash-lines class="shrink-0" />

                                <div class="ltr:ml-3 rtl:mr-3">Trash</div>
                            </div>
                        </button>
                        <div class="h-px w-full border-b border-[#e0e6ed] dark:border-[#1b2e4b]"></div>
                        <div class="px-1 py-3 text-white-dark">Tags</div>
                        <button
                            type="button"
                            class="flex h-10 w-full items-center rounded-md p-1 font-medium text-success duration-300 hover:bg-white-dark/10 ltr:hover:pl-3 rtl:hover:pr-3 dark:hover:bg-[#181F32]"
                            [ngClass]="{ 'ltr:pl-3 rtl:pr-3 bg-gray-100 dark:bg-[#181F32]': selectedTab === 'team' }"
                            (click)="tabChanged('team')"
                        >
                            <icon-square-rotated class="shrink-0 fill-success" />
                            <div class="ltr:ml-3 rtl:mr-3">Team</div>
                        </button>

                        <button
                            type="button"
                            class="flex h-10 w-full items-center rounded-md p-1 font-medium text-warning duration-300 hover:bg-white-dark/10 ltr:hover:pl-3 rtl:hover:pr-3 dark:hover:bg-[#181F32]"
                            [ngClass]="{ 'ltr:pl-3 rtl:pr-3 bg-gray-100 dark:bg-[#181F32]': selectedTab === 'low' }"
                            (click)="tabChanged('low')"
                        >
                            <icon-square-rotated class="shrink-0 fill-warning" />
                            <div class="ltr:ml-3 rtl:mr-3">Low</div>
                        </button>

                        <button
                            type="button"
                            class="flex h-10 w-full items-center rounded-md p-1 font-medium text-primary duration-300 hover:bg-white-dark/10 ltr:hover:pl-3 rtl:hover:pr-3 dark:hover:bg-[#181F32]"
                            [ngClass]="{ 'ltr:pl-3 rtl:pr-3 bg-gray-100 dark:bg-[#181F32]': selectedTab === 'medium' }"
                            (click)="tabChanged('medium')"
                        >
                            <icon-square-rotated class="shrink-0 fill-primary" />
                            <div class="ltr:ml-3 rtl:mr-3">Medium</div>
                        </button>

                        <button
                            type="button"
                            class="flex h-10 w-full items-center rounded-md p-1 font-medium text-danger duration-300 hover:bg-white-dark/10 ltr:hover:pl-3 rtl:hover:pr-3 dark:hover:bg-[#181F32]"
                            [ngClass]="{ 'ltr:pl-3 rtl:pr-3 bg-gray-100 dark:bg-[#181F32]': selectedTab === 'high' }"
                            (click)="tabChanged('high')"
                        >
                            <icon-square-rotated class="shrink-0 fill-danger" />
                            <div class="ltr:ml-3 rtl:mr-3">High</div>
                        </button>

                        <button
                            type="button"
                            class="flex h-10 w-full items-center rounded-md p-1 font-medium text-info duration-300 hover:bg-white-dark/10 ltr:hover:pl-3 rtl:hover:pr-3 dark:hover:bg-[#181F32]"
                            [ngClass]="{ 'ltr:pl-3 rtl:pr-3 bg-gray-100 dark:bg-[#181F32]': selectedTab === 'update' }"
                            (click)="tabChanged('update')"
                        >
                            <icon-square-rotated class="shrink-0 fill-info" />
                            <div class="ltr:ml-3 rtl:mr-3">Update</div>
                        </button>
                    </div>
                </ng-scrollbar>
                <div class="absolute bottom-0 w-full p-4 ltr:left-0 rtl:right-0">
                    <button class="btn btn-primary w-full" type="button" (click)="addEditTask()">
                        <icon-plus class="shrink-0 ltr:mr-2 rtl:ml-2" />

                        Add New Task
                    </button>
                </div>
            </div>
        </div>
        <div
            class="overlay absolute z-[5] hidden h-full w-full rounded-md bg-black/60"
            [ngClass]="{ '!block xl:!hidden': isShowTaskMenu }"
            (click)="isShowTaskMenu = !isShowTaskMenu"
        ></div>
        <div class="panel h-full flex-1 overflow-auto p-0">
            <div class="flex h-full flex-col">
                <div class="flex w-full flex-col gap-4 p-4 sm:flex-row sm:items-center">
                    <div class="flex items-center ltr:mr-3 rtl:ml-3">
                        <button type="button" class="block hover:text-primary ltr:mr-3 rtl:ml-3 xl:hidden" (click)="isShowTaskMenu = !isShowTaskMenu">
                            <icon-menu />
                        </button>
                        <div class="group relative flex-1">
                            <input
                                type="text"
                                class="peer form-input ltr:!pr-10 rtl:!pl-10"
                                placeholder="Search Task..."
                                name="searchTask"
                                [(ngModel)]="searchTask"
                                (ngModelChange)="searchTasks()"
                            />
                            <div class="absolute top-1/2 -translate-y-1/2 peer-focus:text-primary ltr:right-[11px] rtl:left-[11px]">
                                <icon-search />
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-1 items-center justify-center sm:flex-auto sm:justify-end">
                        <p class="ltr:mr-3 rtl:ml-3">{{ pager.startIndex + 1 + '-' + (pager.endIndex + 1) + ' of ' + filteredTasks.length }}</p>
                        <button
                            type="button"
                            [disabled]="pager.currentPage == 1"
                            class="rounded-md bg-[#f4f4f4] p-1 enabled:hover:bg-primary-light disabled:cursor-not-allowed disabled:opacity-60 ltr:mr-3 rtl:ml-3 dark:bg-white-dark/20 enabled:dark:hover:bg-white-dark/30"
                            (click)="pager.currentPage = pager.currentPage - 1; searchTasks(false)"
                        >
                            <icon-caret-down class="h-5 w-5 rotate-90 rtl:-rotate-90" />
                        </button>
                        <button
                            type="button"
                            [disabled]="pager.currentPage == pager.totalPages"
                            class="rounded-md bg-[#f4f4f4] p-1 enabled:hover:bg-primary-light disabled:cursor-not-allowed disabled:opacity-60 dark:bg-white-dark/20 enabled:dark:hover:bg-white-dark/30"
                            (click)="pager.currentPage = pager.currentPage + 1; searchTasks(false)"
                        >
                            <icon-caret-down class="h-5 w-5 -rotate-90 rtl:rotate-90" />
                        </button>
                    </div>
                </div>
                <div class="h-px w-full border-b border-[#e0e6ed] dark:border-[#1b2e4b]"></div>
                <ng-container *ngIf="pagedTasks.length">
                    <div class="table-responsive min-h-[400px] grow overflow-y-auto sm:min-h-[300px]">
                        <table class="table-hover">
                            <tbody>
                                <ng-container *ngFor="let task of pagedTasks">
                                    <tr class="group cursor-pointer" [ngClass]="{ 'bg-white-light/30 dark:bg-[#1a2941]': task.status === 'complete' }">
                                        <td class="w-1">
                                            <input
                                                type="checkbox"
                                                [id]="'chk-' +task.id"
                                                class="form-checkbox"
                                                [checked]="task.status === 'complete'"
                                                (click)="$event.stopPropagation();taskComplete(task)"
                                                [disabled]="selectedTab === 'trash'"
                                            />
                                        </td>
                                        <td>
                                            <div (click)="viewTask(task)">
                                                <div
                                                    class="whitespace-nowrap text-base font-semibold group-hover:text-primary"
                                                    [ngClass]="{ 'line-through': task.status === 'complete' }"
                                                >
                                                    {{ task.title }}
                                                </div>
                                                <div
                                                    class="line-clamp-1 min-w-[300px] overflow-hidden text-white-dark"
                                                    [ngClass]="{ 'line-through': task.status === 'complete' }"
                                                >
                                                    {{ task.descriptionText }}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="w-1">
                                            <div class="flex items-center space-x-2 ltr:justify-end rtl:justify-start rtl:space-x-reverse">
                                                <ng-container *ngIf="task.priority">
                                                    <div hlMenu class="dropdown">
                                                        <a
                                                            hlMenuButton
                                                            href="javascript:;"
                                                            class="badge rounded-full capitalize hover:top-0 hover:text-white"
                                                            [ngClass]="{
                                                                    'badge-outline-primary hover:bg-primary': task.priority === 'medium',
                                                                    'badge-outline-warning hover:bg-warning': task.priority === 'low',
                                                                    'badge-outline-danger hover:bg-danger': task.priority === 'high',
                                                                    'text-white bg-primary': task.priority === 'medium' && isPriorityMenu === task.id,
                                                                    'text-white bg-warning': task.priority === 'low' && isPriorityMenu === task.id,
                                                                    'text-white bg-danger': task.priority === 'high' && isPriorityMenu === task.id}"
                                                        >
                                                            {{ task.priority }}
                                                        </a>
                                                        <ul *hlMenuItems @toggleAnimation class="text-medium text-sm ltr:right-0 rtl:left-0">
                                                            <li>
                                                                <button
                                                                    type="button"
                                                                    *hlMenuItem="let menuItem"
                                                                    class="w-full text-danger ltr:text-left rtl:text-right"
                                                                    (click)="setPriority(task, 'high')"
                                                                >
                                                                    High
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button
                                                                    type="button"
                                                                    *hlMenuItem="let menuItem"
                                                                    class="w-full text-primary ltr:text-left rtl:text-right"
                                                                    (click)="setPriority(task, 'medium')"
                                                                >
                                                                    Medium
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button
                                                                    type="button"
                                                                    *hlMenuItem="let menuItem"
                                                                    class="w-full text-warning ltr:text-left rtl:text-right"
                                                                    (click)="setPriority(task, 'low')"
                                                                >
                                                                    Low
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="task.tag">
                                                    <div hlMenu class="dropdown">
                                                        <a
                                                            hlMenuButton
                                                            href="javascript:;"
                                                            class="badge rounded-full capitalize hover:top-0 hover:text-white"
                                                            [ngClass]="{
                                                                    'badge-outline-success hover:bg-success': task.tag === 'team',
                                                                    'badge-outline-info hover:bg-info': task.tag === 'update',
                                                                    'text-white bg-success ': task.tag === 'team' && isTagMenu === task.id,
                                                                    'text-white bg-info ': task.tag === 'update' && isTagMenu === task.id}"
                                                        >
                                                            {{ task.tag }}
                                                        </a>
                                                        <ul *hlMenuItems @toggleAnimation class="text-medium text-sm ltr:right-0 rtl:left-0">
                                                            <li>
                                                                <button
                                                                    type="button"
                                                                    *hlMenuItem="let menuItem"
                                                                    class="w-full text-success"
                                                                    (click)="setTag(task, 'team')"
                                                                >
                                                                    Team
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button
                                                                    type="button"
                                                                    *hlMenuItem="let menuItem"
                                                                    class="w-full text-info"
                                                                    (click)="setTag(task, 'update')"
                                                                >
                                                                    Update
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button type="button" *hlMenuItem="let menuItem" class="w-full" (click)="setTag(task, '')">
                                                                    None
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </td>
                                        <td class="w-1">
                                            <p class="whitespace-nowrap font-medium text-white-dark" [ngClass]="{ 'line-through': task.status === 'complete' }">
                                                {{ task.date }}
                                            </p>
                                        </td>
                                        <td class="w-1">
                                            <div class="flex w-max items-center justify-between">
                                                <div class="flex-shrink-0 ltr:mr-2.5 rtl:ml-2.5">
                                                    <div *ngIf="task.path">
                                                        <img [src]="'/assets/images/'+task.path" class="h-8 w-8 rounded-full object-cover" alt="avatar" />
                                                    </div>
                                                    <div
                                                        *ngIf="!task.path && task.assignee"
                                                        class="grid h-8 w-8 place-content-center rounded-full bg-primary text-sm font-semibold text-white"
                                                    >
                                                        {{ task.assignee.charAt(0) + '' + task.assignee.charAt(task.assignee.indexOf(' ') + 1) }}
                                                    </div>
                                                    <div
                                                        *ngIf="!task.path && !task.assignee"
                                                        class="grid h-8 w-8 place-content-center rounded-full border border-gray-300 dark:border-gray-800"
                                                    >
                                                    <icon-user class="w-4.5 h-4.5" />
                                                    </div>
                                                </div>
                                                <div hlMenu class="dropdown">
                                                    <a hlMenuButton href="javascript:;">
                                                        <icon-horizontal-dots class="rotate-90 opacity-70" />
                                                    </a>
                                                    <ul *hlMenuItems @toggleAnimation class="w-max ltr:right-0 rtl:left-0">
                                                        <ng-container *ngIf="selectedTab !== 'trash'">
                                                            <li>
                                                                <a href="javascript:;" *hlMenuItem="let menuItem" (click)="addEditTask(task)">
                                                                    <icon-pencil-paper class="w-4.5 h-4.5 ltr:mr-2 rtl:ml-2 shrink-0" />

                                                                    Edit
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" *hlMenuItem="let menuItem" (click)="deleteTask(task, 'delete')">
                                                                    <icon-trash-lines class="ltr:mr-2 rtl:ml-2 shrink-0" />
                                                                    Delete
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" *hlMenuItem="let menuItem" (click)="setImportant(task)">
                                                                    <icon-star class="w-4.5 h-4.5 ltr:mr-2 rtl:ml-2 shrink-0" />
                                                                    <span> {{ task.status === 'important' ? 'Not Important' : 'Important' }} </span>
                                                                </a>
                                                            </li>
                                                        </ng-container>
                                                        <ng-container *ngIf="selectedTab === 'trash'">
                                                            <li>
                                                                <a href="javascript:;" *hlMenuItem="let menuItem" (click)="deleteTask(task, 'deletePermanent')">
                                                                    <icon-trash-lines class="ltr:mr-2 rtl:ml-2 shrink-0" />
                                                                    Permanent Delete
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" *hlMenuItem="let menuItem" (click)="deleteTask(task, 'restore')">
                                                                    <icon-restore class="ltr:mr-2 rtl:ml-2 shrink-0" />
                                                                    Restore Task
                                                                </a>
                                                            </li>
                                                        </ng-container>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </ng-container>
                <ng-container *ngIf="!pagedTasks.length">
                    <div class="flex h-full min-h-[400px] items-center justify-center text-lg font-semibold sm:min-h-[300px]">No data available</div>
                </ng-container>
            </div>
        </div>
    </div>
    <modal #addTaskModal class="no-footer">
        <ng-template #modalHeader>
            <div class="!font-medium">{{ params.value.id ? 'Edit Task' : 'Add Task' }}</div>
        </ng-template>
        <ng-template #modalBody>
            <form [formGroup]="params" class="text-sm" (submit)="saveTask()">
                <div class="mb-5">
                    <label for="title">Title</label>
                    <input id="title" type="text" placeholder="Enter Task Title" class="form-input" formControlName="title" />
                </div>
                <div class="mb-5">
                    <label for="assignee">Assignee</label>
                    <select id="assignee" class="form-select" formControlName="assignee">
                        <option value="">Select Assignee</option>
                        <option value="John Smith">John Smith</option>
                        <option value="Kia Vega">Kia Vega</option>
                        <option value="Sandy Doe">Sandy Doe</option>
                        <option value="Jane Foster">Jane Foster</option>
                        <option value="Donna Frank">Donna Frank</option>
                    </select>
                </div>
                <div class="mb-5 flex justify-between gap-4">
                    <div class="flex-1">
                        <label for="tag">Tag</label>
                        <select id="tag" class="form-select" formControlName="tag">
                            <option value="">Select Tag</option>
                            <option value="team">Team</option>
                            <option value="update">Update</option>
                        </select>
                    </div>
                    <div class="flex-1">
                        <label for="priority">Priority</label>
                        <select id="priority" class="form-select" formControlName="priority">
                            <option value="">Select Priority</option>
                            <option value="low">Low</option>
                            <option value="medium">Medium</option>
                            <option value="high">High</option>
                        </select>
                    </div>
                </div>
                <div class="mb-5">
                    <label>Description</label>
                    <quill-editor
                        #quillEditorObj
                        [modules]="editorOptions"
                        placeholder=""
                        formControlName="description"
                        class="w-full"
                        (onContentChanged)="setDiscriptionText($event)"
                    ></quill-editor>
                </div>
                <div class="mt-8 flex items-center justify-end ltr:text-right rtl:text-left">
                    <button type="button" class="btn btn-outline-danger" (click)="addTaskModal.close()">Cancel</button>
                    <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4">{{ params.value.id ? 'Update' : 'Add' }}</button>
                </div>
            </form>
        </ng-template>
    </modal>

    <modal #viewTaskModal class="no-footer">
        <ng-template #modalHeader>
            <div class="flex flex-wrap items-center gap-2 !font-medium">
                <div>{{ selectedTask.title }}</div>
                <div
                    *ngIf="selectedTask.priority"
                    class="badge rounded-3xl capitalize"
                    [ngClass]="{'badge-outline-primary': selectedTask.priority === 'medium',
                                'badge-outline-warning ': selectedTask.priority === 'low',
                                'badge-outline-danger ': selectedTask.priority === 'high'}"
                >
                    {{ selectedTask.priority }}
                </div>

                <div
                    *ngIf="selectedTask.tag"
                    class="badge rounded-3xl capitalize"
                    [ngClass]="{'badge-outline-success ': selectedTask.tag === 'team',
                                'badge-outline-info ': selectedTask.tag === 'update' }"
                >
                    {{ selectedTask.tag }}
                </div>
            </div>
        </ng-template>
        <ng-template #modalBody>
            <div class="prose text-base text-black dark:prose-invert dark:text-white-dark" [innerHTML]="selectedTask.description"></div>

            <div class="mt-8 flex items-center justify-end">
                <button type="button" class="btn btn-outline-danger" (click)="viewTaskModal.close()">Close</button>
            </div>
        </ng-template>
    </modal>
</div>
