<div>
    <div class="relative flex h-full gap-5 sm:h-[calc(100vh_-_150px)]">
        <div
            class="absolute z-10 hidden h-full w-full rounded-md bg-black/60"
            [ngClass]="{ '!block xl:!hidden': isShowFolderMenu }"
            (click)="isShowFolderMenu = !isShowFolderMenu"
        ></div>
        <div
            class="panel absolute z-10 hidden h-full w-[240px] flex-none space-y-4 overflow-hidden p-4 ltr:rounded-r-none rtl:rounded-l-none ltr:lg:rounded-r-md rtl:lg:rounded-l-md xl:relative xl:block xl:h-auto"
            [ngClass]="{ 'hidden shadow': !isShowFolderMenu, '!block h-full ltr:left-0 rtl:right-0': isShowFolderMenu }"
        >
            <div class="flex h-full flex-col pb-16">
                <div class="flex items-center text-center">
                    <div class="shrink-0">
                        <icon-file />
                    </div>
                    <h3 class="text-lg font-semibold ltr:ml-3 rtl:mr-3">Files</h3>
                </div>
                <div class="my-4 h-px w-full border-b border-[#e0e6ed] dark:border-[#1b2e4b]"></div>
                <ng-scrollbar class="relative h-full grow ltr:pr-3.5 rtl:pl-3.5" appearance="compact">
                    <div class="space-y-1">
                        <button
                            type="button"
                            class="flex h-10 w-full items-center justify-between rounded-md p-2 font-medium hover:bg-white-dark/10 hover:text-primary dark:hover:bg-[#181F32] dark:hover:text-primary"
                            [ngClass]="{'bg-gray-100 dark:text-primary text-primary dark:bg-[#181F32]': selectedTab === 'all' }"
                            (click)="tabChanged('all')"
                        >
                            <div class="flex items-center">
                                <icon-file class="shrink-0" />

                                <div class="ltr:ml-3 rtl:mr-3">All Files</div>
                            </div>
                        </button>
                        <button
                            type="button"
                            class="flex h-10 w-full items-center justify-between rounded-md p-2 font-medium hover:bg-white-dark/10 hover:text-primary dark:hover:bg-[#181F32] dark:hover:text-primary"
                            [ngClass]="{'bg-gray-100 dark:text-primary text-primary dark:bg-[#181F32]': selectedTab === 'fav' }"
                            (click)="tabChanged('fav')"
                        >
                            <div class="flex items-center">
                                <icon-star class="shrink-0" />
                                <div class="ltr:ml-3 rtl:mr-3">Favourites</div>
                            </div>
                        </button>
                        <div class="h-px w-full border-b border-[#e0e6ed] dark:border-[#1b2e4b]"></div>
                        <div class="px-1 py-3 text-white-dark">Tags</div>
                        <button
                            type="button"
                            class="flex h-10 w-full items-center rounded-md p-1 font-medium text-primary duration-300 hover:bg-white-dark/10 ltr:hover:pl-3 rtl:hover:pr-3 dark:hover:bg-[#181F32]"
                            [ngClass]="{'ltr:pl-3 rtl:pr-3 bg-gray-100 dark:bg-[#181F32]': selectedTab === 'personal' }"
                            (click)="tabChanged('personal')"
                        >
                            <icon-square-rotated class="shrink-0 fill-primary" />
                            <div class="ltr:ml-3 rtl:mr-3">Personal</div>
                        </button>

                        <button
                            type="button"
                            class="flex h-10 w-full items-center rounded-md p-1 font-medium text-warning duration-300 hover:bg-white-dark/10 ltr:hover:pl-3 rtl:hover:pr-3 dark:hover:bg-[#181F32]"
                            [ngClass]="{ 'ltr:pl-3 rtl:pr-3 bg-gray-100 dark:bg-[#181F32]': selectedTab === 'work' }"
                            (click)="tabChanged('work')"
                        >
                            <icon-square-rotated class="shrink-0 fill-warning" />
                            <div class="ltr:ml-3 rtl:mr-3">Work</div>
                        </button>

                        <button
                            type="button"
                            class="flex h-10 w-full items-center rounded-md p-1 font-medium text-info duration-300 hover:bg-white-dark/10 ltr:hover:pl-3 rtl:hover:pr-3 dark:hover:bg-[#181F32]"
                            [ngClass]="{ 'ltr:pl-3 rtl:pr-3 bg-gray-100 dark:bg-[#181F32]': selectedTab === 'social' }"
                            (click)="tabChanged('social')"
                        >
                            <icon-square-rotated class="shrink-0 fill-info" />
                            <div class="ltr:ml-3 rtl:mr-3">Social</div>
                        </button>

                        <button
                            type="button"
                            class="flex h-10 w-full items-center rounded-md p-1 font-medium text-danger duration-300 hover:bg-white-dark/10 ltr:hover:pl-3 rtl:hover:pr-3 dark:hover:bg-[#181F32]"
                            [ngClass]="{ 'ltr:pl-3 rtl:pr-3 bg-gray-100 dark:bg-[#181F32]': selectedTab === 'important' }"
                            (click)="tabChanged('important')"
                        >
                            <icon-square-rotated class="shrink-0 fill-danger" />
                            <div class="ltr:ml-3 rtl:mr-3">Important</div>
                        </button>
                    </div>
                </ng-scrollbar>
            </div>
            <div class="absolute bottom-0 w-full p-4 ltr:left-0 rtl:right-0">
                <button class="btn btn-primary w-full" type="button" (click)="editFolder()">
                    <icon-plus class="h-5 w-5 shrink-0 ltr:mr-2 rtl:ml-2" />
                    Add New Folder
                </button>
            </div>
        </div>

        <div class="panel h-full flex-1 overflow-auto">
            <div class="pb-5">
                <button type="button" class="hover:text-primary xl:hidden" (click)="isShowFolderMenu = !isShowFolderMenu">
                    <icon-menu />
                </button>
            </div>
            <ng-container *ngIf="!filteredFilesList.length">

                <div class="flex h-full min-h-[400px] items-center justify-center text-lg font-semibold sm:min-h-[300px]">No data available</div>
            </ng-container>
            <ng-container>

                <div class="min-h-[400px] sm:min-h-[300px]">

                    <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4">
                        <ng-container>
                             <app-file-explorer></app-file-explorer>
                        </ng-container>




                    </div>
                </div>
            </ng-container>

            <modal #isAddFolderModal class="no-footer">
                <ng-template #modalHeader>
                    <div class="!font-medium">{{ params.value.id ? 'Edit Folder' : 'Add Folder' }}</div>
                </ng-template>
                <ng-template #modalBody>
                    <form [formGroup]="params" (submit)="saveFolder()" class="text-sm">
                        <div class="mb-5">
                            <label for="title">Title</label>
                            <input id="title" type="text" placeholder="Enter Title" class="form-input" formControlName="title" />
                        </div>
                        <div class="mb-5">
                            <label for="name">User Name</label>
                            <select id="name" class="form-select" formControlName="user">
                                <option value="">Select User</option>
                                <option value="Max Smith">Max Smith</option>
                                <option value="John Doe">John Doe</option>
                                <option value="Kia Jain">Kia Jain</option>
                                <option value="Karena Courtliff">Karena Courtliff</option>
                                <option value="Vladamir Koschek">Vladamir Koschek</option>
                                <option value="Robert Garcia">Robert Garcia</option>
                                <option value="Marie Hamilton">Marie Hamilton</option>
                                <option value="Megan Meyers">Megan Meyers</option>
                                <option value="Angela Hull">Angela Hull</option>
                                <option value="Karen Wolf">Karen Wolf</option>
                                <option value="Jasmine Barnes">Jasmine Barnes</option>
                                <option value="Thomas Cox">Thomas Cox</option>
                                <option value="Marcus Jones">Marcus Jones</option>
                                <option value="Matthew Gray">Matthew Gray</option>
                                <option value="Chad Davis">Chad Davis</option>
                                <option value="Linda Drake">Linda Drake</option>
                                <option value="Kathleen Flores">Kathleen Flores</option>
                            </select>
                        </div>
                        <div class="mb-5">
                            <label for="tag">Tag</label>
                            <select id="tag" class="form-select" formControlName="tag">
                                <option value="">None</option>
                                <option value="personal">Personal</option>
                                <option value="work">Work</option>
                                <option value="social">Social</option>
                                <option value="important">Important</option>
                            </select>
                        </div>
                        <div class="mb-5">
                            <label for="desc">Description</label>
                            <textarea
                                id="desc"
                                rows="3"
                                class="form-textarea min-h-[130px] resize-none"
                                placeholder="Enter Description"
                                formControlName="description"
                            ></textarea>
                        </div>
                        <div class="mt-8 flex items-center justify-end">
                            <button type="button" class="btn btn-outline-danger gap-2" (click)="isAddFolderModal.close()">Cancel</button>
                            <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4">{{ params.value.id ? 'Update Folder' : 'Add Folder' }}</button>
                        </div>
                    </form>
                </ng-template>
            </modal>

            <modal #isDeleteFolderModal class="no-footer">
                <ng-template #modalHeader>
                    <div class="!font-medium">Delete Files</div>
                </ng-template>
                <ng-template #modalBody>
                    <div class="text-center text-sm">
                        <div class="mx-auto w-fit rounded-full bg-danger p-4 text-white ring-4 ring-danger/30">
                            <icon-trash-lines class="mx-auto h-7 w-7" />
                        </div>
                        <div class="mx-auto mt-5 sm:w-3/4">Are you sure you want to delete Files?</div>

                        <div class="mt-8 flex items-center justify-center">
                            <button type="button" class="btn btn-outline-danger" (click)="isDeleteFolderModal.close()">Cancel</button>
                            <button type="button" class="btn btn-primary ltr:ml-4 rtl:mr-4" (click)="deleteFolder()">Delete</button>
                        </div>
                    </div>
                </ng-template>
            </modal>

            <modal #isViewFolderModal class="no-footer">
                <ng-template #modalHeader>
                    <div class="flex flex-wrap items-center gap-3 !font-medium">
                        <div>{{ selectedFolder.title }}</div>
                        <button
                            *ngIf="selectedFolder.tag"
                            type="button"
                            class="badge badge-outline-primary rounded-3xl capitalize"
                            [ngClass]="{'shadow-primary': selectedFolder.tag === 'personal',
                                                    'shadow-warning': selectedFolder.tag === 'work',
                                                    'shadow-info': selectedFolder.tag === 'social',
                                                    'shadow-danger': selectedFolder.tag === 'important'}"
                        >
                            {{ selectedFolder.tag }}
                        </button>
                        <button *ngIf="selectedFolder.isFav" type="button" class="text-warning">
                            <icon-star class="fill-warning" />
                        </button>
                    </div>
                </ng-template>
                <ng-template #modalBody>
                    <div class="text-base">{{ selectedFolder.description }}</div>

                    <div class="mt-8 ltr:text-right rtl:text-left">
                        <button type="button" class="btn btn-outline-danger" (click)="isViewFolderModal.close()">Close</button>
                    </div>
                </ng-template>
            </modal>
        </div>
    </div>
</div>
